[submodule "extras/data-tests/ext"]
    path = extras/data-tests/ext
    url = https://github.com/lemire/fast_float_supplemental_tests.git

[submodule "extras/simple-bench/ext"]
    path = extras/simple-bench/ext
    url = https://github.com/lemire/simple_fastfloat_benchmark.git
